version: '3.8'
services:

  test-vox:
    image: neurokit-test
    environment:
      - NEURO_ROLE=vox
      - CONDUCTOR_HOST=10.1.1.20
      - RABBITMQ_USER=neuro_user
      - RABBITMQ_PASS=secret
      - HOST_IP=10.1.1.10
      - API_PORT=8000
    depends_on:
      - test-conductor

  test-vault:
    image: neurokit-test
    environment:
      - NEURO_ROLE=vault
      - HOST_IP=10.1.1.30

  test-cadre:
    image: neurokit-test
    environment:
      - NEURO_ROLE=cadre
      - HOST_IP=10.1.1.40

  test-cadre-light:
    image: neurokit-test
    environment:
      - NEURO_ROLE=cadre_light
      - HOST_IP=10.1.1.41

networks:
  default:
    ipam:
      config:
        - subnet: 10.1.1.0/24
